body {
    background: linear-gradient(to right, #3a6d83,#3a4a83);
    font-family: 'Inter', sans-serif;
}

@media (min-width: 768px) {
    .contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
    }
}

.profile-card {
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background: 
        linear-gradient(to top, #fff 90%, transparent 10%),
        linear-gradient(to left, #3a6d83, #3a4a83);
    padding: 10px;
    gap: 20px;  
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.profile-card:hover {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.35);
    transform: scale(1.05)}

.profile-card__titulos {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}

.profile-card__titulos li {
    font-weight: bold;
    font-size: 1.3rem;
    color: #333;
    text-align: left;
}

.profile-card__titulos li:hover {
    font-size: 1.35rem;
}

.profile-card p {
    font-size: 1rem;
    width: 80%;
    background: linear-gradient(to right, #66a8c0b6,#6e7eb8b1);
    border-radius: 20px;
    padding: 30px;
    border: 2px solid black;
}
.profile-card button {
    width: 50%;
    max-width: 200px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background: #7a7a7a;    
    transition: transform 0.3s ease;
}

.profile-card button:hover {
    transform: translateY(1px);
}

.profile-card button:active {
    background: #afafaf;
    transform: scale(0.98);
}

.profile-card__contenedor img {
    background-color: white;
    width: 40%;          
    height: 200px;          
    border-radius: 30px;
    border: 3px solid black;
    object-fit: cover;  
}

.profile-card__contenedor {
    display: flex;
    justify-content: left;
    align-items: center;
}
